

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.l{
    color: white;
}
.k {
  background: linear-gradient(
    45deg,
     #facc15, 
    #a855f7,
    #ec4899
    
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.pr{
    background-color: #1A0B2E;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    border-color: #d12310;
    border: 2px;
    
}
.dsf{
    display:flex;
}
.bt{
    list-style: none;
    gap: 20px;
    font-size: 16px;
    font-weight: 500px;

}
.link{
    text-decoration: none;
    color: white
    
}


.btt{
    
    list-style: none;
    
    /* justify-content: center;
    align-items: center; */
    max-width: 270px;

    /* margin:0 auto; */
    /* font-weight: 600px; */
    
}
.l{
    margin-top:-250px;
    margin-bottom: 70px;
    width: 100%;
}
   
.arrow {
  margin-left: 6px;
  font-size: 18px;
}
.blink{
    color:white;
    font-size: 1rem;
    font-weight: 600;
    width: 135px;
    height: 44px;
    gap: 4;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    align-items: center;
    background: linear-gradient(
    90deg,
    #a855f7,   /* purple */
    #ec4899,   /* pink */
    #facc15    /* yellow */
     );

    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.banner{
    max-width: 1700px;
    height: 780px;
    background: url("assets/hero-bg.png");
}
.ban {
    max-width: 580px;
    flex-direction: column;
    margin: 101px 400px 20px 510px;  
    justify-content: center;
    text-align: center;
    text-align: center;
}

.banner{
    max-width: 1600px;
    justify-content: center;
    align-items: center;
    border: .1px solid #a855f7
    
}


.i{
    color: white;
    margin-top: 10px;
    
}

.r{
    margin: 15px;
}
.ban img{
    max-width: 330px;
    margin: 0 auto;
}

.li {

   width: 195px;
   height: 35px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 18px 10px 19px;
   gap: 9px;
   font-weight: 600px;
   color: white;

border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.su{
    width: 195px;
    height: 35px;
    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px 10px 19px;
    gap: 9px;
   ; border: 2px solid #00ff88;
    color: #00ff88;
    border-radius: 10000px;
    background-color: #1A0B2E;
    
}
.y{
    color: white;
}


.badge{
    background-color:#00ff88;
    color: black;
    border-radius:1000px ;
    width: 75px;
    height: 38px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: 600px;
    font-size: 18px;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
    margin-left:370px;
    margin-bottom: -45px;

}
.q{
    width: 100%;
}


.p{
    margin-top: -300px;
}
.fg{
    gap: 7px;
    max-width: 556px;
    display: flex;
    flex-direction: row;
    margin: 0px 500px 0px 600px;  
    justify-content: center;
    align-items: center;
    text-align: center;

    
}


.pod{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1A0B2E;
    /* margin-top: -20px; */

}
.ta{
    justify-content: space-around;
    display: flex;
}

.wh{
    color:white
}
.g{
    color:#00ff88;
    font-size: 3rem;
    font-weight: 800;
}


.fo{
    font-size: 16px;
    font-weight: 200;
    
}

.u{
    font-size: 3rem;
    font-weight: 700;
}
.yu{
    margin: 0 200px;
    max-width: 1200;
    
}
.w{
    background-color: #1A0B2E;
}
.g{
    margin-top: 50px;
}
.ta{
    margin: 0 200px;
}


.con{
    background-color: #230E3D;
    max-height: 1200px;
    
}
.a{
    text-align: center;
    padding-top: 120px;

}
.x{
    max-width: 1200px;
    height: 900px;
    margin: 0 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
     gap: 15px
}
.c{
    grid-column: span 1;
    grid-row: span 2;
    max-width: 380px;
    max-height: 350px;
    border-radius:50px;
    border: 8px;
    border: solid #1A0B2E;
    padding-top: 120px;
    padding-right: 40px;
    padding-left: 40px;
     
 }

.e{
    grid-row: span 1;
    grid-column: span 2;
    border: 8px;
    border-radius:50px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    max-width: 780px;
    max-height: 200px;
    margin-bottom: 180px;
    

}
.ia{
    grid-row: span 1;
    grid-column: span 2;
    border: 8px;
    border-radius:50px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    max-width: 780px;
    max-height: 200px;

}

.d{
    grid-row: span 1;
    grid-column: span 2;
    border: 8px;
    border-radius:50px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    max-width: 780px;
    max-height: 250px;
    margin-top: -150px;
    
}

.fa{
    grid-column: span 1;
    grid-row: span 2;
    max-width: 380px;
    max-height: 250px;
    border-radius:50px;
    margin-top: -150px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;

}
    

 

.cok{
    background: rgba(53, 17, 101, 0.4);
    
}
.h{
    font-size: 24px;
    font-weight: 700;
}

.op{
    max-width: 1600px;
    max-height: 2000px;
    margin: 0 200px;
    text-align: center;
}
.yt{
    max-width: 1220px;
    max-height: 500px;
    margin-bottom:15px;
    gap:20px
}
.sd{
    text-align: left;

}
.oi{
    margin-top: 30px;
}
.yr{
    width: 200px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    height: 200px;
}
.de{
    
    /* margin-left: -110px; */
    background-color:#230E3D;
    border-radius: 30px;
    width:1100px;
    margin-left: -110px;
    height: 230px;

}
.tr{
    border-radius: 18px;
    max-height: 400px;
    padding:2px;

}
.df{
    gap:15px;
    
}







.lg{
    max-height: 500px;
}







@media (min-width: 580px) {
    .menu-btn {
        display: none; /* Hides the hamburger menu on large screens */
    }
}   
@media screen  and (max-width: 576px) {
    


    .btt{
       display: none;
   } 

   .bt{
       display: none;
   } 

   .q{
    width: 200px;
    height: 200px;
    
   
   }
   .l{
    margin-top:-190px;
   }
   .banner{
    height: 643px;
   }

   .i, .y{
    text-align: center;
   }
   .ban{
    margin:10px;
    max-width: 400px;
   }
   .fg{
    margin-left: 50px;
    width: 80%;
   }
   .badge{
    margin-left: 260px;
    margin-top: 140px;
   }
   .li{
    width: 200px;
   }
   .pod{
    max-width: 440px;
    height: 580px;
   }
   .yu{
    max-width: 400px;
    height: 207px;
    margin: 0px 0px 0px 30px;

   }
   .ta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px;
    text-align: center;
  }

  .g {
    margin: 0;
    font-size: 2rem;
  }
   .u{
    font-size: 2rem;
    font-weight: 500;
   }
   .con{
    max-height: 1800px;
   }
  .x{
    display: grid;
    margin: 0 20px;
    max-width: 450px;
    max-height: 2000px;
    grid-template-columns: repeat(1, 1fr);

  }
  .c {
    height: 260px;
    width: 300px;
    padding-top: 10px;
    margin: 0px;
  }
  .ia{
    height: 260px;
    width: 300px;
    padding-top: 10px;
    margin: 0px;


  }

  .d{
    height: 370px;
    padding-bottom: 30px;
    width: 340px;
    margin-bottom: 150px;
   


  }
  .fa{
    padding-top: 30px;
    min-height: 260px;
    width: 300px;
    max-height: 350px;
  }
    
 
    
  
   
    


}
    

